#loading{
	z-index:9999;
	position: fixed;
    top: 44%;
    left: 39%;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.custList > div .list-group-item{
    height:62px;
    margin-bottom:5px;
}
.current{
    background-color: #aaccff !important;
}
nav{
    height:100px;
    background: url(/images/bg.gif) !important;
    background-repeat: repeat-x;
}
.jumbotron{
    padding-top:110px;
}
nav .logoName{
    position: absolute;
    left: 86px;
}
nav .logo{
    position: absolute;
    left: 10px;
}
#menu ul {
    margin-top: 70px;
}
#menu li a{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #333333;
    font-family: 微軟正黑體;
}
#menu li a:hover{
    color: #999999;
}
#menu li {
    display: inline-block;
    width:100px;
}
#menu{
    position: relative;
    margin-left: 80px;
}
.main{
    margin-top: 90px;
}