#loading{
	z-index:9999;
	position: fixed;
    top: 44%;
    left: 39%;
}
.nav>li>a:focus, .nav>li>a:hover{
        background-color: none;
}
#menu .nav>li>a{
    color:#333333;
    font-size: 16px;
    font-weight: bold;
    right: 10px;
    border: dashed 1px #000000;
    border-radius: 5px;
}
.nav>li>a #companyName{
    color:#7C3423;
    font-size: 16px;
    font-weight: bold;
    right: 20px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.custList > div .list-group-item{
    height:62px;
    margin-bottom:5px;
}
.current{
    background-color: #aaccff !important;
}
header{
    background: url(/images/bg.gif) !important;
    background-repeat: repeat-x;
}

.navbar {
    margin-bottom: 7px;
}
nav{
    height:100px;
    margin:auto;
    max-width: 1170px;
}
.jumbotron{
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 10px;
}
nav .logoName{
    position: absolute;
    left: 86px;
}
nav .logo{
    position: absolute;
    left: 10px;
    top: -1px;
}
#menu ul {
    margin-top: 70px;
}
#menu li a{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #333333;
    font-family: 微軟正黑體;
}
#menu li a:hover{
    color: #999999;
}
#menu li {
    display: inline-block;
    width:108px;
}
#menu{
    position: relative;
    margin-left: 80px;
}
.main{
    margin-top: 0px;
    margin-bottom: 70px;
}
.newsSubject{
    color:#1155CC;
    font-weight:bold;
    font-size:18px;
    line-height:21px;
}
.postDate{
    font-size:11px;
    color:#999999;
}
.table>tbody>tr>td{
    padding:5px !important;
}
.infoTime{
    width:60px;
}

.infoContent{
    width:200px;
}
.infoTime,.infoContent{
    display:inline-block;
}
.sopItem input{
    border: 1px solid #999999;
    padding: 0 5px;
}
#scanArea{
    position:fixed;
    top:100%;
    left:37%;
    display:block;
    width: 300px;
    #height:260px;
}
#sopSaveButton{
    text-align: center;
    cursor: pointer;
}
.scanAreaLeftTop,.scanAreaLeftDown,.scanAreaRightTop,.scanAreaRightDown{
    width: 50px;
    height: 50px;
}
.scanAreaCenter{
    width:100px;
    height:100px;
    position:absolute;
    top:27%;
    left:100px;
    border:1px solid #99bbff;
}
.scanAreaLeftTop{
    position:absolute;
    top:0;
    left: 0;
    border-right: 2px solid #444444;
    border-bottom: 2px solid #444444;
}
.scanAreaLeftDown{
    position:absolute;
    bottom:0;
    left: 0;
    border-right: 2px solid #444444;
    border-top: 2px solid #444444;
}
.scanAreaRightTop{
    position:absolute;
    top:0;
    right: 0;
    border-left: 2px solid #444444;
    border-bottom: 2px solid #444444;
}
.scanAreaRightDown{
    position:absolute;
    bottom:0;
    right: 0;
    border-left: 2px solid #444444;
    border-top: 2px solid #444444;
}
.todoTable .input-group{
    width:100%;
}
.todoTable .input-group input[type='text']{
    border-radius: 5px;
    width:100%;
}