# Windows image file caches
Thumbs.db
ehthumbs.db
public
master.zip
# Folder config file
Desktop.ini
node_modules

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
offlinePoint.json
offlineCheckin.json
public/custid.txt 
precaution.json
screen.png
chromedriver.exe
credits.html
d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
locales/am.pak
locales/am.pak.info
locales/ar.pak
locales/ar.pak.info
locales/bg.pak
locales/bg.pak.info
locales/bn.pak
locales/bn.pak.info
locales/ca.pak
locales/ca.pak.info
locales/cs.pak
locales/cs.pak.info
locales/da.pak
locales/da.pak.info
locales/de.pak
locales/de.pak.info
locales/el.pak
locales/el.pak.info
locales/en-GB.pak
locales/en-GB.pak.info
locales/en-US.pak
locales/en-US.pak.info
locales/es-419.pak
locales/es-419.pak.info
locales/es.pak
locales/es.pak.info
locales/et.pak
locales/et.pak.info
locales/fa.pak
locales/fa.pak.info
locales/fi.pak
locales/fi.pak.info
locales/fil.pak
locales/fil.pak.info
locales/fr.pak
locales/fr.pak.info
locales/gu.pak
locales/gu.pak.info
locales/he.pak
locales/he.pak.info
locales/hi.pak
locales/hi.pak.info
locales/hr.pak
locales/hr.pak.info
locales/hu.pak
locales/hu.pak.info
locales/id.pak
locales/id.pak.info
locales/it.pak
locales/it.pak.info
locales/ja.pak
locales/ja.pak.info
locales/kn.pak
locales/kn.pak.info
locales/ko.pak
locales/ko.pak.info
locales/lt.pak
locales/lt.pak.info
locales/lv.pak
locales/lv.pak.info
locales/ml.pak
locales/ml.pak.info
locales/mr.pak
locales/mr.pak.info
locales/ms.pak
locales/ms.pak.info
locales/nb.pak
locales/nb.pak.info
locales/nl.pak
locales/nl.pak.info
locales/pl.pak
locales/pl.pak.info
locales/pt-BR.pak
locales/pt-BR.pak.info
locales/pt-PT.pak
locales/pt-PT.pak.info
locales/ro.pak
locales/ro.pak.info
locales/ru.pak
locales/ru.pak.info
locales/sk.pak
locales/sk.pak.info
locales/sl.pak
locales/sl.pak.info
locales/sr.pak
locales/sr.pak.info
locales/sv.pak
locales/sv.pak.info
locales/sw.pak
locales/sw.pak.info
locales/ta.pak
locales/ta.pak.info
locales/te.pak
locales/te.pak.info
locales/th.pak
locales/th.pak.info
locales/tr.pak
locales/tr.pak.info
locales/uk.pak
locales/uk.pak.info
locales/vi.pak
locales/vi.pak.info
locales/zh-CN.pak
locales/zh-CN.pak.info
locales/zh-TW.pak
locales/zh-TW.pak.info
nacl_irt_x86_64.nexe
node.dll
notification_helper.exe
nw.dll
nw.exe
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
nwjc.exe
payload.exe
pnacl/pnacl_public_pnacl_json
pnacl/pnacl_public_x86_32_crtbegin_for_eh_o
pnacl/pnacl_public_x86_32_crtbegin_o
pnacl/pnacl_public_x86_32_crtend_o
pnacl/pnacl_public_x86_32_ld_nexe
pnacl/pnacl_public_x86_32_libcrt_platform_a
pnacl/pnacl_public_x86_32_libgcc_a
pnacl/pnacl_public_x86_32_libpnacl_irt_shim_dummy_a
pnacl/pnacl_public_x86_32_pnacl_llc_nexe
pnacl/pnacl_public_x86_32_pnacl_sz_nexe
pnacl/pnacl_public_x86_64_crtbegin_for_eh_o
pnacl/pnacl_public_x86_64_crtbegin_o
pnacl/pnacl_public_x86_64_crtend_o
pnacl/pnacl_public_x86_64_ld_nexe
pnacl/pnacl_public_x86_64_libcrt_platform_a
pnacl/pnacl_public_x86_64_libgcc_a
pnacl/pnacl_public_x86_64_libpnacl_irt_shim_a
pnacl/pnacl_public_x86_64_libpnacl_irt_shim_dummy_a
pnacl/pnacl_public_x86_64_pnacl_llc_nexe
pnacl/pnacl_public_x86_64_pnacl_sz_nexe
resources.pak
swiftshader/libEGL.dll
swiftshader/libGLESv2.dll
v8_context_snapshot.bin
public/comport.txt
public/comport.txt
natives_blob.bin
package-lock.json
package-lock.json
package-lock.json
package-lock.json
Web.config
