<!DOCTYPE html>
<html lang="tw">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>悅盛保全 - 櫃台服務系統</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="/css/bootstrap-theme.css">

  <script src="/js/jquery.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="/js/Common.js"></script>
  <script src="/js/vue.js"></script>
  <style type="text/css">
    textarea {
      resize: none;
      overflow: hidden;
      min-height: 50px;
      max-height: 100px;
    }

    input[readonly],
    textarea[readonly] {
      color: #1121dc;
    }

    .editMode {
      float: right !important;
    }

    .pointer {
      cursor: pointer;
    }

    .input-group {
      margin-bottom: 10px;
    }

    .li-info a {
      background-color: #d9edf7 !important;
      color: #31708f !important;
    }
    .alert-info-tab{
      background-color: #ce201e !important;
      color: white !important;
    }
  </style>
</head>

<body>
  <div class="loadingMask"
    style="width:100%;height:100%;position:fixed;background: rgba(0,0,0,0.3);z-index:1111;display: none"></div>
  <header>
    <nav class="navbar">
    </nav>
  </header>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="panel panel-warning" id="pointPanel">
          <div class="panel-heading">
            <h3 class="panel-title" style="float:left">
              {{currentEmpName}}-現場工作紀錄
            </h3>
            <ul class="nav nav-tabs">
              <li class="active pointer editMode">
                <a class="pointTab pointer" :class="{'alert-info-tab': editMode=='d'}" @click="changeMode('d')">
                  交辦事項
                </a>
              </li>
              <li class="active pointer editMode">
                <a class="pointTab pointer" :class="{'alert-info-tab': editMode=='a'}" @click="changeMode('a')">
                  標準值勤
                </a>
              </li>
              <li class="active pointer editMode">
                <a class="pointTab pointer" :class="{'alert-info-tab': editMode=='b'}" @click="changeMode('b')">
                  其他項目
                </a>
              </li>
              <li class="active pointer editMode">
                <a class="pointTab pointer" :class="{'alert-info-tab': editMode=='c'}" @click="changeMode('c')">
                  注意事項
                </a>
              </li>
              <li class="active pointer editMode">
                <a class="pointTab pointer" :class="{'alert-info-tab': editMode=='e'}" @click="changeMode('e')">
                  哨點注意事項
                </a>
              </li>
              <li style="float: right;margin-top: 7px;">
                <button :id="'btnyyyymmdd_'+k" type="button" class="btn btn-default" :class="{'btn-success': currentDate==v}"
                  v-for="(v,k) in dateOptions" @click="dateChage(v)">{{v}}</button>
              </li>
            </ul>
          </div>
          <div class="panel-body ">
            <div class="col-md-3">
              <div class="input-group">
                <!-- <input type="text" class="form-control" v-model="filterAreaStr" @keyup="prFilterArea()"> -->
                <input type="text" class="form-control" v-model="filterAreaStr" @keyup="liverFilter()">
                <span class="input-group-addon">搜尋棟別</span>
              </div>
              <div class="input-group">
                <!-- <input type="text" class="form-control" v-model="filterDidStr" @keyup="prFilterDid()"> -->
                <input type="text" class="form-control" v-model="filterDidStr" @keyup="liverFilter()">
                <span class="input-group-addon">搜尋戶號</span>
              </div>
              <div class="input-group">
                <!-- <input type="text" class="form-control" v-model="filterOwnerStr" @keyup="prFilterOwner()"> -->
                <input type="text" class="form-control" v-model="filterOwnerStr" @keyup="liverFilter()">
                <span class="input-group-addon">搜尋姓名</span>
              </div>
              <div class="list-group" style="margin-bottom:0">
                <a href="#" class="list-group-item active">
                  住戶名單
                </a>
              </div>
              <div class="list-group" style="height:400px;overflow-y: scroll">
                <a href="#" v-on:click="selectLiver(liver.F_CU_DID,liver.F_OWNER_NAME,liver.F_LIVER_ID)"
                  class="list-group-item" :data-liver-id="liver.F_LIVER_ID" v-show="liver.hide == false"
                  v-for="liver in liverList">{{ liver.F_CU_DID }} |{{ liver.F_OWNER_NAME }}</a>
              </div>
            </div>
            <div class="col-md-9">
              <div v-show="editMode!='c'" class="col-md-12" style="padding-left: 0;">
                <h4 class="text-primary">注意事項</h4>
                <hr>
                <div class="col-md-3 text-warning"
                  style="border-radius: 5px;border:1px solid #555555;padding: 5px;margin-bottom: 10px;margin-right: 10px;"
                  v-show="precautionList.length == 0">
                  暫無資料
                </div>
                <div class="col-md-3"
                  style="border-radius: 5px;border:1px solid #555555;padding: 5px;margin-bottom: 10px;margin-right: 10px;"
                  v-show="!v.hide" v-for="(v,k) in precautionList">
                  <h5 class="text-info"><b>{{v.did}} | {{v.owner}}</b></h5>
                  {{v.comment}}
                </div>
              </div>
              <div id="pointTabs" v-show="editMode=='a'">
                <ul class="nav nav-tabs">
                  <li role="presentation" :class="{ active: ''==currentTabKey }">
                    <a class="pointTab pointer" @click="clickTab('','all','0')">
                      全部
                    </a>
                  </li>
                  <li role="presentation" :class="{ active: k==currentTabKey,'li-info': k==currentTabKey }"
                    v-for="(v,k) in tabs">
                    <a class="pointTab pointer" @click="clickTab(k,v.F_POINT_ID,v.F_EMP_ID)">
                      {{v.F_POINT_NAME}}({{v.F_EMP_NAME}})
                    </a>
                  </li>
                </ul>
              </div>
              <div class="pointSop" v-show="editMode=='a'">
                <table class="table table-bordered todoTable table-striped">
                  <thead>
                    <tr>
                      <th colspan="5">
                        {{sopData.typeName}}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th align="center" width="50">
                        狀態
                      </th>
                      <th align="center" width="60">
                        時間
                      </th>
                      <th width="80">執行人</th>
                      <th align="center" width="150">
                        項目名稱
                      </th>
                      <th align="center" width="100">
                        狀態
                      </th>
                      <th align="center" width="160">
                        備註
                      </th>
                    </tr>
                    <tr v-for="(sopList,slk) in sopData.list">
                      <td :class="{'alert-success': sopList.done}">
                        <span v-show="sopList.done" class="text-danger">已填</span>
                        <span v-show="!sopList.done" class="text-dark">未填</span>
                      </td>
                      <td>
                        <div class="input-group">
                          {{currentDate}}<br>
                          {{sopList.F_OT_TIME}}
                        </div>
                      </td>
                      <td>
                        {{sopList.name}}
                      </td>
                      <td>
                        <div class="input-group">
                          {{sopList.F_OT_ATTINFO}}
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-default" :disabled="sopList.F_WORK_STATUS!=null"
                          :class="{'btn-success': sopList.F_WORK_STATUS=='done'}" @click="saveWork('normal',slk,'done')"
                          type="button">完成</button>
                        <button class="btn btn-default" :disabled="sopList.F_WORK_STATUS!=null"
                          :class="{'btn-danger': sopList.F_WORK_STATUS=='fail'}" @click="saveWork('normal',slk,'fail')"
                          type="button">異常</button>
                      </td>
                      <td>
                        <div class="input-group">
                          <input type="text" class="form-control" :readonly="sopList.done?true:false"
                            placeholder="需填寫備註才能存檔" v-model="sopList.comment">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>


              </div>
              <table class="table table-bordered todoTable otherJob" v-show="editMode=='b'">
                <thead>
                  <tr>
                    <th colspan="6">
                      <span> 其它</span>
                      <div style="float: right">
                        <button type="button" @click="addOtherJob" id="addOtherJob">
                          新增
                        </button>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th width="60">狀態</th>
                    <th width="80">執行人</th>
                    <th width="150">類型</th>
                    <th width="80">時間</th>

                    <th width="250">內容說明</th>
                    <th width="150">狀態</th>
                    <th>備註</th>
                  </tr>
                  <tr v-for="(rec,recKey) in otherRecord">
                    <td>
                      <span v-show="rec.done" class="text-danger">已存檔</span>
                      <span v-show="!rec.done" class="text-dark">未存檔</span>
                    </td>
                    <th width="80">{{rec.F_EMP_NAME}}</th>
                    <td>
                      <select class="form-control" :disabled="rec.done" v-model="rec.F_TID"
                        @change="changeOtherType(recKey,rec.F_TID)">
                        <option :value="otherOption.F_TID" v-for="(otherOption,ook) in otherTypes">
                          {{otherOption.F_TNAME}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group">
                        <select class="form-control" :disabled="rec.done" v-model="rec.F_OT_TIME">
                          <option :value="tv" v-for="(tv,tk) in times">{{tv}}</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <select :disabled="rec.done" class="form-control" v-model="rec.F_CID" @change="changeCid(recKey)">
                        <option :value="v.F_CID" v-for="(v,k) in rec.typeList">
                          {{v.F_DESC}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <button class="btn btn-default" :disabled="rec.F_WORK_STATUS!=null"
                        :class="{'btn-success': rec.F_WORK_STATUS=='done'}" @click="saveWork('other',recKey,'done')"
                        type="button">完成</button>
                      <button class="btn btn-default" :disabled="rec.F_WORK_STATUS!=null"
                        :class="{'btn-danger': rec.F_WORK_STATUS=='fail'}" @click="saveWork('other',recKey,'fail')"
                        type="button">異常</button>
                    </td>
                    <td>
                      <div class="input-group">
                        <textarea :readonly="rec.done" placeholder="需填寫備註才能存檔" cols="30" rows="1" v-model="rec.comment"
                          class="form-control" style="height: 48px;"></textarea>
                      </div>
                    </td>
                  </tr>
                </thead>
              </table>
              <table class="table table-bordered todoTable otherJob" v-show="editMode=='c'">
                <thead>
                  <tr>
                    <th colspan="6">
                      <span> 注意事項</span>
                      <div style="float: right">
                        <button type="button" @click="addPrecaution">
                          新增
                        </button>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th width="60">住戶</th>
                    <th width="150">內容</th>
                    <th width="80">功能</th>
                  </tr>
                  <tr v-for="(pv,pk) in precautionList">
                    <td>
                      <select class="form-control" v-model="pv.liverKey" @change="changePrecautionLiver(pk,$event)">
                        <option :value="lk" v-for="(lv,lk) in liverList">
                          {{ lv.F_CU_DID }} |{{ lv.F_OWNER_NAME }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div class="input-group">
                        <textarea placeholder="需填寫備註才能存檔" cols="30" rows="1" v-model="pv.comment" class="form-control"
                          style="height: 48px;"></textarea>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-primary" @click="savePrecaution(pk)" type="button">
                        存檔
                      </button>
                      <button class="btn btn-danger" @click="deletePrecaution(pk)" type="button">
                        刪除
                      </button>
                    </td>
                  </tr>
                </thead>
              </table>
              <div class="pointSop" v-show="editMode=='d'">
                <table class="table table-bordered todoTable table-striped">
                  <tbody>
                    <tr>
                      <th align="center" width="50">
                        交辦日期
                      </th>
                      <th align="center" width="60">
                        交辦人員
                      </th>
                      <th width="180">
                        交辦內容
                      </th>
                      <th align="center" width="50">
                        截止日期
                      </th>
                      <th align="center" width="100">
                        狀態
                      </th>
                    </tr>
                    <tr v-for="deliver in deliverList">
                      <td>
                        <div class="input-group">
                          {{deliver.deliverDate}}
                        </div>
                      </td>
                      <td>
                        {{deliver.Register}}
                      </td>
                      <td>
                        <div class="input-group">
                          {{deliver.Content}}
                        </div>
                      </td>
                      <td>
                        <div class="input-group">
                          {{deliver.DeadLine}}
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-default" :disabled="deliver.CarryOut=='Y'"
                          :class="{'btn-success': deliver.CarryOut=='Y'}" type="button"
                          @click="updateDeliver(deliver)">完成</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div v-show="editMode=='e'" class="col-md-12" style="padding-left: 0;">
                <h4 class="text-primary">哨點注意事項</h4>
                <hr>
                <div class="col-md-3 text-warning"
                  style="border-radius: 5px;border:1px solid #555555;padding: 5px;margin-bottom: 10px;margin-right: 10px;"
                  v-show="pointNotice.length == 0">
                  暫無資料
                </div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="150">哨點名稱</th>
                      <th>注意事項</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(pn,pk) in pointNotice">
                      <td>
                        {{pn.F_POINT_NAME}}
                      </td>
                      <td>
                        {{pn.F_OT_ATTINFO}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>
      <!-- <video id="cameraPreview"></video> -->
      <div id="scanArea">
        <video id="video" width="300"></video>
        <button type="button" id="scanCancel">取消</button>
        <!-- <div class="scanAreaLeftTop"></div>
          <div class="scanAreaRightTop"></div>
          <div class="scanAreaLeftDown"></div>
          <div class="scanAreaRightDown"></div> -->
        <div class="scanAreaCenter"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <footer>
    </footer>
  </div> <!-- /container -->

  <script type="text/javascript" src="js/handover.js"></script>
  <button class="btn btn-lg btn-warning" id="loading" style="display:none;"><span
      class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>請在20秒內掃描員工識別證</button>
</body>

</html>