<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>悅盛保全 - 櫃台服務系統 - 客戶名稱</title>
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/colorbox.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.css" >
    <script src="/js/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/js/vue.js" ></script>
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" >
    <!--<script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>-->
    <script type="text/javascript" src="/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>
    <style>
      h2{
        font-size: 24px;
      }
      .left-side .input-group{
        margin-bottom:10px;
      }
      #mr-detail{
        height:280px;
        border:1px dashed #999999;
        border-top:0;
        border-radius: 0 0 6px 6px;
        margin-bottom:10px;
      }
      #CFList button{
        margin-left: 15px;
        margin-right: 5px;
      }
    </style>
    <script type="text/javascript" src="/js/Common.js"></script>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="loadingMask" style="width:100%;height:100%;position:fixed;background: rgba(0,0,0,0.3);z-index:1111;display: none"></div>
    <header>
      <nav class="navbar">
      </nav>  
    </header>
    

    <!-- Begin page content -->
    <div class="container main" >
      <div class="row">
        <div class="col-md-3 left-side">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">棟別</span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">戶號</span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">姓名</span>
          </div>
          <div class="list-group" style="margin-bottom:0">
            <a href="#" class="list-group-item active">
              住戶名單
            </a>
          </div>
          <div class="list-group" id="left-list" style="height:400px;overflow-y: scroll">
            <a href="#" v-on:click="selectLiver(liver.F_CU_DID,liver.F_OWNER_NAME)" class="list-group-item" :data-liver-id="liver.F_LIVER_ID" v-for="liver in list">{{ liver.F_CU_DID }} |{{ liver.F_OWNER_NAME }}</a>
          </div>
        </div>
        <div class="col-md-9" id="mrDetail">
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" :class="{ active: mk==chooseClass }" v-for="(main,mk) in classes">
                <a href="#" v-on:click="switchTab(mk)" :data-sub-class-id="main.subclass" :data-class-id="main.class">{{main.name}}</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" >
              <div role="tabpanel" class="tab-panel panel panel-default active" id="home">
                <div  class="panel-body" style="min-height:300px"> 
                  <div id="CFList" v-show="displayCFList">
                    <button type="button" v-on:click="selectForm(k)" class="btn btn-lg" :class="btnColors[k%6]" v-for="(v,k) in customForms">{{v.F_CF_TITLE}}</button>
                  </div>
                
                  <div id="formDetail" v-show="displayDetail">
                    <form id="myform" action="" method="post">
                      <input type="hidden" name="cf-id" :value="customForm.F_CF_ID">
                      <table class="table table-hover table-bordered"> 
                        <tbody> 
                          <tr> 
                            <th class="success" width="20%">進場時間</th> 
                            <td  width="30%">
                              <div class='input-group date' id='datetimepicker1'>
                                <input type="text" name="start-time"  class="form-control" placeholder="" aria-describedby="basic-addon2">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </td> 
                            <td  width="20%" class="success">離場時間</td> 
                            <td  width="30%">
                              <div class='input-group date' id='datetimepicker2'>
                                <input type="text" class="form-control"  name="end-time" aria-describedby="basic-addon2">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </td>  
                          </tr> 
                          <tr> 
                            <th class="success" width="20%">姓名</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" :value="liverName" readonly name="liver-name" placeholder="" aria-describedby="basic-addon2">
                              </div>
                            </td> 
                            <td  width="20%" class="success">戶號</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" readonly :value="liverDid" placeholder="" name="liver-id" aria-describedby="basic-addon2">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM1_TITLE!=''"> 
                            <th class="success" width="20%">{{customForm.F_ITEM1_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input name="name-item1" type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM2_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" name="name-item2" class="form-control" placeholder="" aria-describedby="basic-addon2">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM3_TITLE!=' '"> 
                            <th class="success" width="20%">{{customForm.F_ITEM3_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" name="name-item3" class="form-control" placeholder="" aria-describedby="basic-addon2">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM4_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" name="name-item4" class="form-control" placeholder="" aria-describedby="basic-addon2">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM5_TITLE !=' '"> 
                            <th class="success" width="20%">{{customForm.F_ITEM5_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" name="name-item5" placeholder="" aria-describedby="basic-addon2">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM6_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="" name="name-item6" aria-describedby="basic-addon2">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM7_TITLE!=' '"> 
                            <th class="success" width="20%">{{customForm.F_ITEM7_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="" name="name-item7" aria-describedby="basic-addon2">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM8_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="" name="name-item8" aria-describedby="basic-addon2">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM9_TITLE!=' '"> 
                            <th class="success" width="20%">{{customForm.F_ITEM9_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder=""  name="name-item9" aria-describedby="basic-addon2">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM10_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" name="name-item10" class="form-control" placeholder="" aria-describedby="basic-addon2">
                              </div>
                            </td>  
                          </tr> 
                          <tr> 
                            <th class="success" width="20%">計費單位</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" name='unit-type' readonly :value="customForm.F_CF_UNIT_TYPE">
                              </div>
                            </td> 
                            <td  width="20%" class="success">單位金額</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input  type="text" class="form-control" name='unit-price' :value="customForm.F_UNIT_PRICE">
                              </div>
                            </td>  
                          </tr> 
                        </tbody> 
                      </table>
                      <button id="startPrint" type="button" class="btn btn-default" style="margin-left:10px">列印入場聯</button>
                      <button id="endPrint" type="button" class="btn btn-danger">列印結帳聯</button> 
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="bs-example" data-example-id="hoverable-table"> 
            <table class="table table-hover table-bordered"> 
              <thead> 
                <tr  class="info " style="color: #a94442;background-color: #f2dede !important;border-color: #ebccd1;">  
                  <th colspan="5" class="alert-danger">未結帳</th> 
                </tr>
                <tr class="info"> 
                  <th>戶號</th> 
                  <th>主分類</th> 
                  <th>表單名稱</th> 
                  <th>單價</th> 
                  <th>起始時間</th> 
                </tr> 
              </thead> 
              <tbody> 
                <tr v-for="(val,key) in checkin"> 
                  <th >{{val.F_DID}}</th> 
                  <td>{{val.F_CLASS_NAME}}</td> 
                  <td>{{val.F_CF_TITLE}}</td> 
                  <td>{{val.F_UNIT_PRICE}}元</td> 
                  <td>{{val.F_START_TIME}}~{{val.F_END_TIME}}</td> 
                </tr>
                
              </tbody> 
            </table> 
            <table class="table table-hover table-bordered"> 
              <thead> 
                <tr  class="info">  
                  <th colspan="5" class="alert-success">已結帳</th> 
                </tr>
                <tr class="info"> 
                  <th>戶號</th> 
                  <th>主分類</th> 
                  <th>表單名稱</th> 
                  <th>費用</th> 
                  <th>起始時間</th> 
                </tr> 
              </thead> 
              <tbody> 
                <tr> 
                  <th >1-1</th> 
                  <td>停車</td> 
                  <td>臨時停車費用</td> 
                  <td>20元</td> 
                  <td>2019/05/02 AM:10~PM8</td> 
                </tr>
                <tr> 
                  <th >1-1</th> 
                  <td>事務</td> 
                  <td>臨時停車費用</td> 
                  <td>20元</td> 
                  <td>2019/05/02 AM:10~PM8</td> 
                </tr> 
                <tr> 
                  <th >1-1</th> 
                  <td>公設</td> 
                  <td>臨時停車費用</td> 
                  <td>20元</td> 
                  <td>2019/05/02 AM:10~PM8</td> 
                </tr>
              </tbody> 
            </table> 
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
    <script type="text/javascript">
      //left-list
      var printData = {}; 
      var mrDetail = new Vue({
        el: '#mrDetail',
        data: {
          classes: [
            
          ],
          subclasses: {
          },
          customForms: [],
          customForm: {},
          liverName: "",
          liverDid: "",
          currentTab: 1,
          displaySubClass: true,
          displayCFList: true,
          displayDetail: false,
          chooseSubClass: 1,
          chooseClass: 1,
          btnColors: ['btn-default','btn-primary','btn-success',"btn-info",'btn-warning','btn-danger'],
          cf: {},
          checkin: [],
          checkout: []
        },
        methods: {
          switchTab: function (key) {
            // `this` inside methods points to the Vue instance
            currentTab = key;
            this.customForms = this.classes[key].customForms;
            this.displayCFList = true;
            this.displayDetail = false;
            this.chooseClass = key;
            this.liverName = "";
            this.liverDid = "";
            console.log(123);
          },
          selectForm: function(key){
            this.liverName = "";
            this.liverDid = "";
            this.displayCFList = false;
            this.displayDetail = true;
            this.customForm = this.customForms[key];
          }
        }
      });
      var liveList = new Vue({
        el: '#left-list',
        data: {
          list: []
        },
        methods: {
          selectLiver: function(did,name){
            mrDetail.liverName = name;
            mrDetail.liverDid = did;
          }
        }
      })
      var exec = require('child_process').exec,
          child;
      const request = require("request");
      $(document).ready(function(){
        var startTime = $("input[name='start-time']");
        var endTime = $("input[name='end-time']");
        var liverName = $("input[name='liver-name']");
        var liverDid = $("input[name='liver-did']");
        var unitType = $("input[name='unit-type']");
        var unitPrice = $("input[name='unit-price']");
        var startPrint = $("#startPrint");
        var endPrint = $("#endPrint");
        request(config.apiHost + 'api/mrData/'+currentCust+'/000/000', function (error, response, body) {
          var resObj = JSON.parse(body);
          console.log(resObj);
          liveList.list = resObj.liver; 
          mrDetail.classes = resObj.mr; 
          mrDetail.switchTab(1);
          mrDetail.checkin = resObj.mrCheckin;
          mrDetail.checkout = resObj.mrCheckout;
        });

        $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
        $('#datetimepicker2').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
        startPrint.click(function(){
          if(checkForm("") == false){
            return;
          }
          const postData = $("#myform").serialize();
          $.ajax(config.apiHost + 'post/mrcheckin' , {
            type: "POST",
            data: postData+"&cuid="+currentCust,
            dataType: 'json',
            complete: function(data,status){
              //console.log(data);
              mrDetail.displayCFList = true;
              mrDetail.displayDetail = false;
              alert("儲存完成!");
              window.open("print/mrCheckin.html");
              console.log(data);
            }
          });
        });
        endPrint.click(function(){
          checkForm("end");
          const postData = $("#myform").serialize();
          $.ajax(config.apiHost + 'post/mrcheckin' , {
            type: "POST",
            data: postData+"&cuid="+currentCust,
            dataType: 'json',
            complete: function(data,status){
              //console.log(data);
              printData = $("#myform").serializeArray();
              window.open();
              alert("儲存完成!");
              console.log(data);
            }
          });
        });
        var checkForm = function(type){
          if(type == 'end'){
            if(endTime.val()==''){
              alert("請輸入結束時間");
              return false;
            }
          }
          if(startTime.val()==''){
            alert("請輸入開始時間");
            return false;
          }
          if(liverName.val()==''){
            alert("請輸入住戶名稱");
            return false;
          }
          if(liverDid.val()==''){
            alert("請輸入住戶戶號");
            return false;
          }
          if(unitPrice.val()==''){
            alert("請輸入單位金額");
            return false;
          }
        }
      });
    </script>
    <button class="btn btn-lg btn-warning" id="loading" style="display:none;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>請在20秒內掃描員工識別證</button>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
