<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="icon/favicon-32x32.png">

    <title>悅盛保全 - 櫃台服務系統 - 客戶名稱</title>
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/colorbox.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.css" >
    <script src="/js/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/js/vue.js" ></script>
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" >
    <!--<script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>-->
    <script type="text/javascript" src="/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>
    <style>
      h2{
        font-size: 24px;
      }
      .left-side .input-group{
        margin-bottom:10px;
      }
      #mr-detail{
        height:280px;
        border:1px dashed #999999;
        border-top:0;
        border-radius: 0 0 6px 6px;
        margin-bottom:10px;
      }
      #CFList button{
        margin-left: 15px;
        margin-right: 5px;
      }
    </style>
    <script type="text/javascript" src="/js/Common.js"></script>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="loadingMask" style="width:100%;height:100%;position:fixed;background: rgba(0,0,0,0.3);z-index:1111;display: none"></div>
    <header>
      <nav class="navbar">
      </nav>  
    </header>
    

    <!-- Begin page content -->
    <div class="container main" >
      <div class="row" id="mrDetail">
        <div class="col-md-3 left-side">
          <div class="input-group">
            <input type="text" class="form-control" id="filter-did" placeholder="" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">搜尋戶號或姓名</span>
          </div>
          <div class="list-group" style="margin-bottom:0">
            <a href="#" class="list-group-item active">
              住戶名單
            </a>
          </div>
          <div class="list-group" style="height:400px;overflow-y: scroll">
            <a href="#" v-on:click="selectLiver(liver.F_CU_DID,liver.F_OWNER_NAME)" class="list-group-item" :data-liver-id="liver.F_LIVER_ID" v-show="liver.hide == false" v-for="liver in liverList">{{ liver.F_CU_DID }} |{{ liver.F_OWNER_NAME }}</a>
          </div>
        </div>
        <div class="col-md-9" >
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" :class="{ active: mk==chooseClass }" v-for="(main,mk) in classes">
                <a href="#" v-on:click="switchTab(mk)" :data-sub-class-id="main.subclass" :data-class-id="main.class">{{main.name}}</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" >
              <div role="tabpanel" class="tab-panel panel panel-default active" id="home">
                <div  class="panel-body" style="min-height:300px"> 
                  <div id="CFList" v-show="displayCFList">
                    <button type="button" v-on:click="selectForm(k)" class="btn col-md-2 btn-lg" :class="btnColors[k%6]" style="margin-bottom:10px" v-for="(v,k) in customForms">{{v.F_CF_TITLE}}</button>
                  </div>
                
                  <div id="formDetail" v-show="displayDetail">
                    <form id="myform" action="" method="post">
                      <input type="hidden" name="cf-id" :value="customForm.F_CF_ID">
                      <input type="hidden" name="record-id" :value="customForm.F_RECORD_ID">
                      <table class="table table-hover table-bordered"> 
                        <tbody> 
                          <tr> 
                            <th class="success" width="20%">進場時間</th> 
                            <td  width="30%">
                              <div class='input-group date' id='datetimepicker1'>
                                <input type="text" name="start-time"  class="form-control" placeholder="" aria-describedby="basic-addon2" readonly="readonly" :value="customForm.F_START_TIME">
                                <!-- <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span> -->
                              </div>
                            </td> 
                            <td  width="20%" class="success">離場時間</td> 
                            <td  width="30%">
                              <div class='input-group date' id='datetimepicker2'>
                                <input type="text" class="form-control" readonly="readonly" name="end-time" aria-describedby="basic-addon2" :value="customForm.F_END_TIME">
                                <!-- <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span> -->
                              </div>
                            </td>  
                          </tr> 
                          <tr> 
                            <th class="success" width="20%">姓名</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" :value="liverName" name="liver-name" placeholder="" aria-describedby="basic-addon2">
                              </div>
                            </td> 
                            <td  width="20%" class="success">戶號</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" :value="liverDid" placeholder="" name="liver-id" aria-describedby="basic-addon2">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM1_TITLE!=''"> 
                            <th class="success" width="20%">{{customForm.F_ITEM1_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input name="name-item1" @focus="scan(customForm.F_ITEM1_TITLE,$event)" type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" :value="customForm.F_ITEM1_VALUE">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM2_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" name="name-item2" class="form-control" placeholder="" aria-describedby="basic-addon2" :value="customForm.F_ITEM2_VALUE">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM3_TITLE!=' '"> 
                            <th class="success" width="20%">{{customForm.F_ITEM3_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" name="name-item3" class="form-control" placeholder="" aria-describedby="basic-addon2" :value="customForm.F_ITEM3_VALUE">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM4_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" name="name-item4" class="form-control" placeholder="" aria-describedby="basic-addon2" :value="customForm.F_ITEM4_VALUE">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM5_TITLE !=' '"> 
                            <th class="success" width="20%">{{customForm.F_ITEM5_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" name="name-item5" placeholder="" aria-describedby="basic-addon2" :value="customForm.F_ITEM5_VALUE">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM6_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="" name="name-item6" aria-describedby="basic-addon2" :value="customForm.F_ITEM6_VALUE">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM7_TITLE!=' '"> 
                            <th class="success" width="20%">{{customForm.F_ITEM7_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="" name="name-item7" aria-describedby="basic-addon2" :value="customForm.F_ITEM7_VALUE">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM8_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="" name="name-item8" aria-describedby="basic-addon2" :value="customForm.F_ITEM8_VALUE">
                              </div>
                            </td>  
                          </tr> 
                          <tr v-show="customForm.F_ITEM9_TITLE!=' '"> 
                            <th class="success" width="20%">{{customForm.F_ITEM9_TITLE}}</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder=""  name="name-item9" aria-describedby="basic-addon2" :value="customForm.F_ITEM9_VALUE">
                              </div>
                            </td> 
                            <td  width="20%" class="success">{{customForm.F_ITEM10_TITLE}}</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" name="name-item10" class="form-control" placeholder="" aria-describedby="basic-addon2" :value="customForm.F_ITEM10_VALUE">
                              </div>
                            </td>  
                          </tr> 
                          <tr> 
                            <th class="success" width="20%">計費單位</th> 
                            <td  width="30%">
                              <div class="input-group">
                                <input type="text" class="form-control" name='unit-type' readonly :value="customForm.F_CF_UNIT_TYPE">
                              </div>
                            </td> 
                            <td  width="20%" class="success">單位金額</td> 
                            <td  width="30%">
                              <div class="input-group">
                                <input  type="text" class="form-control" name='unit-price' :value="customForm.F_UNIT_PRICE">
                              </div>
                            </td>  
                          </tr> 
                          <tr>
                            <td colspan="2">
                              備註
                              <textarea name="cf-note" class="form-control" rows="3">{{customForm.F_CF_NOTE}}</textarea>
                            </td>
                          </tr>
                        </tbody> 
                      </table>
                      <button id="btnCheckin" type="button" :disabled="typeof(customForm.F_RECORD_ID)!='undefined'" class="btn btn-info" style="margin-left:10px">入場</button>
                      <button id="btnCheckout" type="button" :disabled="customForm.F_CHECKOUT=='1' || typeof(customForm.F_RECORD_ID)=='undefined'" class="btn btn-warning">結帳</button> 
                      
                      
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="bs-example" data-example-id="hoverable-table"> 
            <table class="table table-hover table-bordered"> 
              <thead> 
                <tr  class="info " style="color: #a94442;background-color: #f2dede !important;border-color: #ebccd1;">  
                  <th colspan="6" class="alert-danger">未結帳</th> 
                  <th colspan="2" class="alert-danger">
                    <div class="input-group">
                      <input type="text" class="form-control" id="keywordRecord" placeholder="輸入關鍵字">
                      <span class="input-group-btn">
                        <button class="btn btn-default" @click="searchRecord" type="button">搜尋!</button>
                      </span>
                    </div><!-- /input-group -->
                  </th> 
                </tr>
                <tr class="info"> 
                  <th>主分類</th> 
                  <th>表單名稱</th>
                  <th>代碼</th>
                  <th>戶號</th>  
                  <th>姓名</th>  
                  <th>單價</th> 
                  <th>起始時間</th> 
                  <th>功能</th> 
                </tr> 
              </thead> 
              <tbody> 
                <tr v-for="(val,key) in checkin"> 
                  <td>{{val.F_CLASS_NAME}}</td> 
                  <td>{{val.F_CF_TITLE}}</td> 
                  <td>{{classes[val.F_CLASS_ID].customForms[val.F_CF_ID].F_ITEM1_TITLE}} : <br>{{val.F_ITEM1_VALUE}}</td> 
                  <td >{{val.F_DID}}</td> 
                  <td >{{val.F_LIVER_NAME}}</td> 
                  <td>{{val.F_UNIT_PRICE}}元</td> 
                  <td>{{val.F_START_TIME}}</td> 
                  <td>
                    <button class="btn btnLoadCheckin" v-on:click="loadCheckin(key)" type="button">載入</button>
                    <button v-on:click="startPrint(key)"  type="button"  class="btn btn-success" style="margin-left:10px">入場列印</button>
                    <button class="btn btn-danger btnCancelCheckin" v-on:click="CancelCheckin(val.F_RECORD_ID)" >作廢</button>
                  </td> 
                </tr>
              </tbody> 
            </table> 
            <table class="table table-hover table-bordered"> 
              <thead> 
                <tr  class="info">  
                  <th colspan="8" class="alert-success">已結帳</th> 
                </tr>
                <tr class="info"> 
                  <th>主分類</th> 
                  <th>表單名稱</th> 
                  <th>代碼</th>
                  <th>戶號</th> 
                  <th>姓名</th> 
                  <th>費用</th> 
                  <th>起始時間</th> 
                  <th>功能</th> 
                </tr> 
              </thead> 
              <tbody> 
                <tr v-for="(val,key) in checkout"> 
                  <td>{{val.F_CLASS_NAME}}</td> 
                  <td>{{val.F_CF_TITLE}}</td> 
                  <td>{{classes[val.F_CLASS_ID].customForms[val.F_CF_ID].F_ITEM1_TITLE}} :<br> {{val.F_ITEM1_VALUE}}</td> 
                  <th >{{val.F_DID}}</th> 
                  <th >{{val.F_LIVER_NAME}}</th> 
                  <td>{{val.F_COST_MONEY}}元</td> 
                  <td>開始 {{val.F_START_TIME}}<br>結束 {{val.F_END_TIME}}</td> 
                  <td>
                    <button class="btn btnLoadCheckout" v-on:click="loadCheckout(key)" type="button">載入</button>
                    <button v-on:click="endPrint(key)" type="button" class="btn btn-success">列印</button> 
                  </td> 
                </tr>
              </tbody> 
            </table> 
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
    <script type="text/javascript">
      //left-list
      var printData = {}; 
      var loading = $("#loading");
      var loadingMask = $(".loadingMask");
      var mrDetail = new Vue({
        el: '#mrDetail',
        data: {
          liverList: [],
          classes: [
            
          ],
          subclasses: {
          },
          customForms: [],
          customForm: {},
          liverName: "",
          liverDid: "",
          currentTab: 1,
          displaySubClass: true,
          displayCFList: true,
          displayDetail: false,
          chooseSubClass: 1,
          chooseClass: 1,
          btnColors: ['btn-default','btn-primary','btn-success',"btn-info",'btn-warning','btn-danger'],
          cf: {},
          checkin: [],
          checkout: []
        },
        methods: {
          selectLiver: function(did,name){
            this.liverName = name;
            this.liverDid = did;
          },
          switchTab: function (key) {
            // `this` inside methods points to the Vue instance
            currentTab = key;
            this.customForms = this.classes[key].customForms;
            this.displayCFList = true;
            this.displayDetail = false;
            this.chooseClass = key;
            this.liverName = "";
            this.liverDid = "";
          },
          selectForm: function(key){
            var d = new Date();
            this.liverName = "";
            this.liverDid = "";
            this.displayCFList = false;
            this.displayDetail = true;
            this.customForm = this.customForms[key];
            this.customForm.F_START_TIME = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();

          },
          loadCheckin: function(recordId){
            let recordRow = this.checkin[recordId];
            recordRow.F_CF_UNIT_TYPE = recordRow.F_UNIT_TYPE ;
            this.switchTab(recordRow.F_CLASS_ID);
            this.displayCFList = false;
            this.displayDetail = true;
            let customForm = this.classes[recordRow.F_CLASS_ID].customForms[recordRow.F_CF_ID];
            //let mergeObj = _.merge(recordRow,customForm);
            recordRow.F_ITEM1_TITLE = customForm.F_ITEM1_TITLE;
            recordRow.F_ITEM2_TITLE = customForm.F_ITEM2_TITLE;
            recordRow.F_ITEM3_TITLE = customForm.F_ITEM3_TITLE;
            recordRow.F_ITEM4_TITLE = customForm.F_ITEM4_TITLE;
            recordRow.F_ITEM5_TITLE = customForm.F_ITEM5_TITLE;
            recordRow.F_ITEM6_TITLE = customForm.F_ITEM6_TITLE;
            recordRow.F_ITEM7_TITLE = customForm.F_ITEM7_TITLE;
            recordRow.F_ITEM8_TITLE = customForm.F_ITEM8_TITLE;
            recordRow.F_ITEM9_TITLE = customForm.F_ITEM9_TITLE;
            recordRow.F_ITEM10_TITLE = customForm.F_ITEM10_TITLE;
            this.liverName = recordRow.F_LIVER_NAME;
            this.liverDid = recordRow.F_DID;
            console.log(recordRow);
            this.customForm = recordRow;
          },
          loadCheckout: function(recordId){
            let recordRow = this.checkout[recordId];
            recordRow.F_CF_UNIT_TYPE = recordRow.F_UNIT_TYPE;
            this.switchTab(recordRow.F_CLASS_ID);
            this.displayCFList = false;
            this.displayDetail = true;
            let customForm = this.classes[recordRow.F_CLASS_ID].customForms[recordRow.F_CF_ID];
            recordRow.F_ITEM1_TITLE = customForm.F_ITEM1_TITLE;
            recordRow.F_ITEM2_TITLE = customForm.F_ITEM2_TITLE;
            recordRow.F_ITEM3_TITLE = customForm.F_ITEM3_TITLE;
            recordRow.F_ITEM4_TITLE = customForm.F_ITEM4_TITLE;
            recordRow.F_ITEM5_TITLE = customForm.F_ITEM5_TITLE;
            recordRow.F_ITEM6_TITLE = customForm.F_ITEM6_TITLE;
            recordRow.F_ITEM7_TITLE = customForm.F_ITEM7_TITLE;
            recordRow.F_ITEM8_TITLE = customForm.F_ITEM8_TITLE;
            recordRow.F_ITEM9_TITLE = customForm.F_ITEM9_TITLE;
            recordRow.F_ITEM10_TITLE = customForm.F_ITEM10_TITLE;
            this.liverName = recordRow.F_LIVER_NAME;
            this.liverDid = recordRow.F_DID;
            console.log(recordRow);
            this.customForm = recordRow;
          },
          CancelCheckin: function(recordId){
            if(confirm("確定要作廢?")==false){
              return false;
            }
            $.ajax(config.apiHost + 'post/mrCancel' , {
              type: "POST",
              data: "record-id="+recordId+"&cuid="+currentCust,
              dataType: 'json',
              complete: function(data,status){
                
                let obj = data.responseJSON;
                mrDetail.displayCFList = true;
                mrDetail.displayDetail = false;
                alert("作廢完成!");
                
                mrDetail.checkin = obj.checkinRecord;
                mrDetail.checkout = obj.checkoutRecord;
              }
            });
          },
          startPrint: function(key){
            this.loadCheckin(key);
            printData = this.customForm;
            window.open("./mrCheckin.html");
          },
          endPrint: function(recordId){
            console.log(recordId);
            this.loadCheckout(recordId);
            printData = this.customForm;
            window.open("./mrCheckout.html");
          },
          scan: function(title,e){
            return false;
            if(title != '車號(etag)'){
              return;
            }
            loadingMask.css("display","block");
            loading.removeClass("rotateOut");
            loading.css("display","block");
            loading.addClass("rotateIn");
            exec("python scan.py" , function(err ,data ,c){
              if(err == null && data.length > 0){
                let scanId = data.trim();
                console.log(scanId);
                e.target.value=scanId;
              }else{
                loadingMask.css("display","none");
                loading.css("display","none");
                loading.removeClass("rotateIn");
                loading.addClass("rotateOut");
                console.log(err);
              }
            });
          },
          searchRecord: function(e){
            let keyword = $("#keywordRecord").val();
            console.log(keyword);
            if(keyword == "" || keyword.length<2){
              alert("請至少輸入兩個以上的關鍵字!!");
              return false;
            }
            $.ajax(config.apiHost + 'api/mrRecord' , {
              type: "POST",
              data: "keyword="+keyword+"&cuid="+currentCust,
              dataType: 'json',
              complete: function(data,status){
                console.log(data);
                let obj = data.responseJSON;
                console.log(obj);
                mrDetail.checkin = obj.checkinRecord;
                mrDetail.checkout = obj.checkoutRecord;
              }
            });
          }

        }
      });
      
      var exec = require('child_process').exec,
          child;
      var _ = require("lodash");
      const request = require("request");
      $(document).ready(function(){
        var startTime = $("input[name='start-time']");
        var endTime = $("input[name='end-time']");
        var liverName = $("input[name='liver-name']");
        var liverDid = $("input[name='liver-did']");
        var unitType = $("input[name='unit-type']");
        var unitPrice = $("input[name='unit-price']");
        var btnCheckin = $("#btnCheckin");
        var btnCheckout = $("#btnCheckout");
        var startPrint = $("#startPrint");
        var endPrint = $("#endPrint");
        request(config.apiHost + 'api/mrData/'+currentCust+'/000/000', function (error, response, body) {
          var resObj = JSON.parse(body);
          console.log(resObj);
          mrDetail.liverList = resObj.liver;
          mrDetail.classes = resObj.mr; 
          mrDetail.switchTab(Object.keys(resObj.mr)[0]);
          mrDetail.checkin = resObj.mrCheckin;
          mrDetail.checkout = resObj.mrCheckout;
        });

        $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
        $('#datetimepicker2').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});

        btnCheckin.click(function(){
          if(confirm("確定要入場?")==false){
            return false;
          }
          if(checkForm("") == false){
            return;
          }
          const postData = $("#myform").serialize();
          $.ajax(config.apiHost + 'post/mrcheckin' , {
            type: "POST",
            data: postData+"&cuid="+currentCust,
            dataType: 'json',
            complete: function(data,status){
              let obj = data.responseJSON;
              //console.log(obj.checkinRecord);
              mrDetail.displayCFList = true;
              mrDetail.displayDetail = false;
              alert("儲存完成!");
              mrDetail.checkin = obj.checkinRecord;
              mrDetail.checkout = obj.checkoutRecord;
            }
          });
        });
        btnCheckout.click(function(){
          if(confirm("確定要結帳?")==false){
            return false;
          }
          if(checkForm("end") == false){
            return;
          }
          const postData = $("#myform").serialize();
          $.ajax(config.apiHost + 'post/mrcheckout' , {
            type: "POST",
            data: postData+"&cuid="+currentCust,
            dataType: 'json',
            complete: function(data,status){
              console.log(data);
              let obj = data.responseJSON;
              mrDetail.displayCFList = true;
              mrDetail.displayDetail = false;
              alert("結帳完成!");
              console.log(obj);
              mrDetail.checkin = obj.checkinRecord;
              mrDetail.checkout = obj.checkoutRecord;
            }
          });
        });
        var checkForm = function(type){
          // if(liverName.val()==''){
          //   alert("請輸入住戶名稱");
          //   return false;
          // }
          // if(liverDid.val()==''){
          //   alert("請輸入住戶戶號");
          //   return false;
          // }
          if(unitPrice.val()==''){
            alert("請輸入單位金額");
            return false;
          }
        }
        var filterDid = $("#filter-did");
        $("#filter-did").keyup(function(){
          let str = $(this).val();
          let liveList = mrDetail.liverList;
          console.log(mrDetail.liverList);
          mrDetail.liverList.map(function(v,k){
            if(str == ""){
              mrDetail.liverList[k].hide = false;
            }else{
              if(v.F_CU_DID.indexOf(str)<0 && v.F_OWNER_NAME.indexOf(str)<0){
                mrDetail.liverList[k].hide = true;
              }else{
                mrDetail.liverList[k].hide = false;
              }  
            }
            
          });
        });
      });
    </script>
    <button class="btn btn-lg btn-warning" id="loading" style="display:none;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>請在20秒內掃描員工識別證</button>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
