ul(class="nav navbar-right top-nav")
	li
		a 
			| 客戶名稱 : 
			span(id="companyName")
div(class="logo")
	if displayLogo == true
		img(src="/images/logo.jpg")
div(class="logoName")
	img(src="/images/logo_font.jpg")
div(id="menu")
	ul
		li
			a(href="index.html")
				| 首頁
		li
			a(href="schedule.html")
				| 班表
		li
			a(href="cust.html")
				| 出勤打卡
		li
			a(href="stagnation.html")
				| 駐點須知
		li
			a(href="handover.html")
				| 值勤交接
		li
			a(href="salary.html")
				| 薪資查詢		
		li
			a(href="otherchecking.html")
				| 協力廠商打卡
		li(style="position: absolute;right: 0;")
			a(href="update.html" style="color:#cc0011;font-weight:700;")
				| 更新程式