div(class="logo")
	img(src="/images/logo.jpg")
div(class="logoName")
	img(src="/images/logo_font.jpg")
div(id="menu")
	ul
		li
			a(href="index.html")
				| 首頁
		li
			a(href="cust.html")
				| 打卡
		li
			a(href="setting.html")
				| 客戶設定
		li
			a(href="profile.asp?le=tchinese")
				| 公司簡介