<ul class="nav navbar-right top-nav" >
	<li><a> 
		客戶名稱 : <span id="companyName">國家大樓</span></a>
	</li>
</ul>
<div class="logo">
	<img src="/images/logo.jpg">
</div>
<div class="logoName">
	<img src="/images/logo_font.jpg">
</div>
<div id="menu">
	<ul style="margin-top:70px">
		<li><a href="index.html">首頁</a></li>
		<li><a href="cust.html">出勤打卡</a></li>
		<li>
			<div class="dropdown">
			  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    出勤相關
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="schedule.html">班表</a></li>
			    <li><a href="stagnation.html">駐點須知</a></li>
				<li><a href="handover.html">值勤交接</a></li>
			  </ul>
			</div>
		</li>
		<li><a href="mr.html">雜項收支		</a></li>
		<li>
			<div class="dropdown">
			  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    其他查詢
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="salary.html">薪資查詢		</a></li>
			  </ul>
			</div>
		</li>
		<li>
			<div class="dropdown">
			  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    協力廠商相關
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="partner.html">協力廠商</a></li>
				<li><a href="otherchecking.html">協力廠商打卡</a></li>
			  </ul>
			</div>
		</li>
		
		<li style="position: absolute;right: 0;"><a href="update.html" style="color:#cc0011;font-weight:700;">更新程式</a></li>
	</ul>
</div>