<div style="display: flex;float: right;">
	<a href="Announcement.html" style="margin:10px;">SOP作業流程</a>
<img id="qrcodeImage" style="width: 63px;"></img>
<ul class="nav navbar-right top-nav">
	<li>
		<a>
			客戶名稱 : <span id="companyName">連接網路中</span></a>
	</li>
	<li id="globalTimer" style="text-align: right;margin-right: 20px;">

	</li>
</ul>
</div>
<div class="logo">
	<img src="/images/logo.jpg">
</div>
<div class="logoName">
	<img src="/images/logo_font.jpg">
</div>
<div id="menu">
	<ul style="margin-top:70px">
		<li style="width:80px">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			<a href="index.html">首頁</a>
		</li>
		<li style="width:120px">
			<div class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">打卡相關</a>
				<span class="caret"></span>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="cust.html">打卡</a></li>
					<!-- <li><a href="scheduleConfirm.html">打卡確認</a></li> -->
					<li><a href="manualCheckin.html">補未打卡</a></li>
					<li><a href="manualCheckin_Publish.html">補打卡(已發行)</a></li>
					<li><a href="handover.html">值勤日記</a></li>
					<li><a href="cust_ot.html">加班打卡</a></li>
				</ul>
			</div>
		</li>

		<li>
			<div class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					出勤相關
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="schedule.html">班表</a></li>
					<li><a href="stagnation.html">駐點須知</a></li>
					<li><a href="vacation.html">期望休假日期</a></li>
					<li><a href="AgreeSchedule.html">員工同意本月班表</a></li>
				</ul>
			</div>
		</li>
		<li><a href="mr.html">雜項收支 </a></li>
		<li>
			<div class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					其他查詢
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="salary.html">薪資查詢 </a></li>
					<li><a href="cars.html">汽車查詢 </a></li>
				</ul>
			</div>
		</li>
		<!-- <li>
		    <a href="rvform.html">
		      請假申請
		    </a>
		</li> -->
		<li>
			<div class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					協力廠商相關
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="partner.html">廠商聯絡資料</a></li>
					<li><a href="otherchecking.html">協力廠商打卡</a></li>
				</ul>
			</div>
		</li>
		<li style="text-align: right">
			<div class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					其他資源
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="Announcement.html">資源分享</a></li>
					<li><a href="appqrcode.html">APP Qrcode</a></li>
				</ul>
			</div>
		</li>
		<li style="text-align: right">
			<div class="dropdown">
				<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">
					教育訓練
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="trainingSchedule.html">上課紀錄</a></li>
				</ul>
			</div>
		</li>
		<li style="position: absolute;right: 0;width:78px;"><a href="update.html"
				style="color:#cc0011;font-weight:700;">更新程式</a></li>
	</ul>
</div>
<script>
	var QRCode = require('qrcode');
	QRCode.toDataURL(currentCust)
      .then(url => {
        console.log(url)
        $("#qrcodeImage").attr("src", url);
      })
      .catch(err => {
        console.error(err)
      });
</script>